# =========================================================
# Python
# =========================================================
__pycache__/
*.py[cod]
.venv/

# =========================================================
# DATA
# =========================================================
data/
datasets/

# =========================================================
# Airflow
# =========================================================
airflow/logs/
airflow/airflow.db

# =========================================================
# Spark / Hive
# =========================================================
spark-warehouse/
metastore_db/
derby.log
*.crc

# =========================================================
# Superset
# =========================================================
superset/superset_home/

# =========================================================
# Environment
# =========================================================
.env
.env.*

# =========================================================
# Logs
# =========================================================
*.log

# =========================================================
# IDE
# =========================================================
.idea/
.vscode/

# =========================================================
# Jupyter
# =========================================================
.ipynb_checkpoints/

# =========================================================
# OS
# =========================================================
.DS_Store
Thumbs.db