# Airflow metadata database
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=change_me_airflow_db_password
AIRFLOW_DB_NAME=airflow

# Airflow bootstrap admin user
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=change_me_airflow_admin_password
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com

# Generate with:
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=change_me_generate_a_valid_fernet_key
AIRFLOW_WEBSERVER_SECRET_KEY=change_me_airflow_webserver_secret_key

# Hive Metastore database
HIVE_METASTORE_DB_NAME=metastore
HIVE_METASTORE_DB_USER=hive
HIVE_METASTORE_DB_PASSWORD=change_me_hive_metastore_db_password

# Superset
SUPERSET_SECRET_KEY=change_me_superset_secret_key

# Ecommerce source database used by Airflow Variables
ECOMMERCE_JDBC_URL=jdbc:mysql://host.docker.internal:3306/ecommerce?useSSL=false&allowPublicKeyRetrieval=true
ECOMMERCE_JDBC_USER=spark
ECOMMERCE_JDBC_PASSWORD=change_me_ecommerce_jdbc_password
